.todo_form{
  width: 700px;
  margin: 0 auto;
}

.form_input{
    width: 600px;
    height: 34px;
}

.form_btn{
    width: 80px;
    margin-left: 20px;
    height: 34px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

}

.form_btn:hover{
  opacity: 0.9;
}